<div class="jumbotron">
    <h1 class="text-center">Alurapic</h1>
</div>

<p class="alert alert-info" ng-show="mensagem.length">
    {{mensagem}}
</p>

<!-- novidade, a row com o campo de busca -->
<div class="row">
    <div class="col-md-12">
        <form>

            <div class="input-group">
                
                <span class=input-group-btn>
                    <a href="fotos/new" class="btn btn-primary">Inserir nova foto</a>
                </span>
    
                <!-- ng-model "Two-way data binding" -->
                <input ng-model="filtro" ng-model-options="{debounce: 500}" 
                    class="form-control" placeholder="filtrar pelo título da foto">

            </div>

        </form>
    </div> <!-- fim col-md-12 -->
</div> <!-- fim row -->

<div class="row">
    <!-- filter: Filtro apenas pelo "titulo" das imagens. Caso queira por qualquer campo, basta ... | filter: filtro -->
    <!-- O pipe "|" é o "filter" -->
    <meu-painel class="col-md-2 painel-animado" ng-repeat="foto in fotoLista | filter: {titulo: filtro}" titulo="{{foto.titulo}}">
        <minha-foto url="{{foto.url}}" titulo="{{foto.titulo}}"></minha-foto>
        <a href="fotos/edit/{{foto._id}}" class="btn btn-primary btn-block">Editar</a>
        <meu-botao-perigo acao="removerFoto(foto)" nome="Remover"></meu-botao-perigo>
    </meu-painel>
</div><!-- fim row -->